<!doctype html>
<html>
<head>
    <title>Tchebayou Store</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styleSheet.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <h1>Tchebayou Store</h1>
    </header>
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Member Area</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/myStore">Stores</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/contact">Contact</a></li>
        <li class="subscribe"><a href="/subscribe">Subscribe via. RSS</a></li>
    </ul>
    </nav>

    {{{body}}}

<script src="/js/jquery.min.js"></script>
<script src="/js/script.js"></script>
<div id="container">
    <div id="body">
    <footer>
   
        <div class="footer-right">
            <div class="col-xs-2 developers"><a href="/#">developers</a></div>
            <div class="col-xs-2 copyright"><a href="/#">copyright</a></div>
            <div class="col-xs-2 disclaimer"><a href="/#">disclaimer</a></div>
        </div>
        <div class="footer-left">
        <div class="col-xs-2">Powered by <a href="http://www.projectcodex.co">CodeX</a></div>
        </div>

</footer>
</div>
</div>
</body>
</html>