<html id="wp">
<body id="wrap">

<div class="vue">
<img src="../image/new.jpg" />
</div>
<div class="cap">Customers Satisfaction Is Our Aim</div>

<div class="forth">
<img src="../image/WP_20151203_09_44_53_Pro.jpg" />
</div>


 <div class="Acontainer">
    <section class="runner">

    </section>
 </div>


<section>
<article>
   <div class="local">
      <h3>FAQ</h3>
   <p>We are located at 1 Conde Street Lacoline <strong>Stellenbosch</strong>. It's a town situate in a valley of the mountain of Stellenbosch; place renoum for his beautiful vineyard and wine state....</p>
   <!-- aside inside article -->
   <aside>
       Growing Together is a company that was created in the vision of changing life of our communities; by bringing business that will be of a mutual benefit. May we grow and enjoy this life we love.
   </aside>
</article>
</div>
<aside>
<div class="shipping">
 <h3>Our Aim</h3>
 <aside>
   We strive on our customers great sastifaction, as we intend to bring quality services to our communities. Our products are selected through quality check by our team work in South Africa to make sure that any counterfeit product must not be part of our Growing Organization. 

<aside>
  Visit our window shop for all your devices. From smartphones, laptops, camera surveillance, Ipads, and many others. We also sell quality phones and laptops accessories.

  We have dedicated and qualified technicians to provide you with all your need from development, maintenance to repairs. 

  You can register for our different training programs as we intend to bring skills to our community.

</div>
</aside>
<aside>
<div class="return">
 <h3>Return</h3>
   <p>If you are not satisfied with your order, items may be returned or exchanged within 3 days of receipt. Before returning your item, please contact us first with your order information.

Returned items must be in the same condition as when they were sent to you. We do not accept items that have been damaged by the client.

Please return your order with an insured trackable order and retain your receipt. Stell Value For Cash is not held responsible for items damaged or lost in transit. Please include a note with your name and invoice number and once we recieve your return, your will be credited for the merchandise amount. We cannot refund shipping charges on return items.

IMPORTANT – if you are shipping your return from outside of SA please mark ‘Return’ on your customs label.</p>
</div>
</aside>
</section>

</body>
</html>
