 <header>
   <h3>Location</h3>
 </header>
<div>
<article>
   <h6>Description</h6>
   <p>We are located at 1 Conde Street Lacoline <strong>Stellenbosch</strong>. It's a town situate in a valley of the mountain of Stellenbosch; place renoum for his beautiful vineyard and wine state....</p>
   <!-- aside inside article -->
   <aside>
       Growing Together is a company that was created in the vision of changing life of our communities; by bringing business that will be a mutual benefit. May we grow and enjoy this life we love
   </aside>
</article>
</div>