<div class="vue">

<img src="../image/_font_b_African_b_font_jungle.jpg_140x140.jpg"/>

</div>

<div class="ret">

<img src="../image/autogen_small_48229347_bedding.jpg"/>

</div>

<section>
<article>
   <div class="local">
      <h3>FAQ</h3>
   <p>We are located at 1 Conde Street Lacoline <strong>Stellenbosch</strong>. It's a town situate in a valley of the mountain of Stellenbosch; place renoum for his beautiful vineyard and wine state....</p>
   <!-- aside inside article -->
   <aside>
       Growing Together is a company that was created in the vision of changing life of our communities; by bringing business that will be of a mutual benefit. May we grow and enjoy this life we love.
   </aside>
</article>
</div>
<aside>
<div class="shipping">
 <h3>Shipping</h3>
 <aside>
   <p>Growing Together is located in Sout Africa and uses Soth Africa Fred company to send all of its items.
Expected Delivery Times:
South Africa – 10 – 14 business days
Everywhere Else – country specific.
<aside>

Unless you are a resident of South Africa tracking numbers are not available at the standard rate of shipping. If you would like a tracking number for your package please contact us directly and we will invoice you the additional cost.

Growing Together is not accountable for any duty or customs charges that may occur in your packages shipment or responsible for lost or stolen items.

If you would like to pay for a private carrier (DHL, Fed Ex, UPS) and receive your item faster please contact us directly.</p>

</div>
</aside>
<aside>
<div class="return">
 <h3>Return</h3>
   <p>If you are not satisfied with your order, items may be returned or exchanged within 3 days of receipt. Before returning your item, please contact us first with your order information.

Returned items must be in the same condition as when they were sent to you. We do not accept items that have been damaged by the client.

Please return your order with an insured trackable courier and retain your receipt. Scout & Catalogue is not held responsible for items damaged or lost in transit. Please include a note with your name and invoice number and once we recieve your return, your will be credited for the merchandise amount. We cannot refund shipping charges on return items.

IMPORTANT – if you are shipping your return from outside of Canada please mark ‘Return’ on your customs label.</p>
</div>
</aside>
</section>