<div id="serv">
<h2><a href="/myStore">Back to Stores</a></h2>
</div>
<div class="container">
  <div class="imag">
    <h3>contact Us</h3>
    <img src="../image/images-5.jpeg" alt="">
   </div>

   <div class="imag1">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/images-9.jpeg" alt=""></a>
   </div>
   <div class="imag2">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/oLH5RnTkSI3uLaqx6grea20C0yD53YV0ylbkXq67ol_sgqI50bWp1qdfzZ-jzU1qm2DQUc-t0HWeQnBOdrjHlET2uDvFMEWGYuPWQ1I-9sGQDs_gOSfoCUpt_FiWaLaKYtHSUfOpaVVT5J1M_olgW8MVs1u29AXhi7J3DInZUyc2UcxWS2vM5tcsqrhFgBTP01pLM4d0mpGUMQY=w384-h383-nc.png" alt=""></a>
   </div>
   <div class="imag3">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/images-3.jpeg" alt=""></a>
   </div>
   <div class="imag4">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/images-4.jpeg" alt=""></a>
   </div>
   <div class="imag5">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/celular-hisense-hs-u988-751911-MLM20654076612_042016-O.jpg" alt=""></a>
   </div>

   <div class="imag6">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/images-20.jpeg" alt=""></a>
   </div>

   <div class="imag7">
    <h3><a href="/myStore">Order Bonus</a></h3>
    <a href="/myStore"><img src="../image/windowPhone.jpg" alt=""></a>
   </div>

   <div class="imag8">
    <h3><a href="/myStore">Special Order</a></h3>
    <a href="/myStore"><img src="../image/images.jpeg" alt=""></a>
   </div>
</div>