<div class="container">

<div class="img1">
<img src="../image/12270483_924692010955985_575923205_n.jpg" alt="Image description">

</div>

<div class="img3">
    <img src="../image/12272596_924837914274728_215926741_n.jpg" alt="Image description">
   
</div>
<!-- lightbox container hidden with CSS -->
<div class="img2">
    <img src="../image/12272782_924691707622682_362218297_n.jpg" alt="Image description">
   
</div>

<div class="img3">
    <img src="../image/12272949_924703990954787_369683657_n.jpg" alt="Image description">
   
</div>


<div class="img1">
    <img src="../image/12278166_924691397622713_585910805_n.jpg" alt="Image description">
    
</div>

<!-- thumbnail image wrapped in a link -->
<div class="img2">
  <img src="../image/12278099_924699557621897_580739909_n.jpg" alt="Image description">
  
</div>
<div class="img3">
    <img src="../image/12283210_924837920941394_1681141451_n.jpg" alt="Image description">
    
</div>
<!-- lightbox container hidden with CSS -->
<div class="img1">
  <img src="../image/images (13).jpg" alt="Image description">
 
</div>


<!-- thumbnail image wrapped in a link -->
<div class="img2">
  <img src="../image/images (14).jpg" alt="Image description">
  
</div>
<div class="img3">
    <img src="../image/images (20).jpg" alt="Image description">
   
</div>
<!-- lightbox container hidden with CSS -->
<div class="img1">
  <img src="../image/images (18).jpg" alt="Image description">
   
</div>

<div class="img2">
  <img src="../image/12272879_924692747622578_824063420_n.jpg" alt="Image description">
   
</div>

<div class="img3">
    <img src="../image/12270465_924699560955230_1785661772_n.jpg" alt="Image description">
   
</div>

<div class="img1">
  <img src="../image/12282798_924703984288121_1880777340_n.jpg" alt="Image description">
   
</div>

<div class="img2">
  <img src="../image/12278020_924691714289348_54610207_n.jpg" alt="Image description">
   
</div>

</div>