<div id="serv">
<h2><a href="/myStore">Back to Stores</a></h2>
</div>
<div class="container">
  <div class="imag">
    <h3>contact Us</h3>
    <a href="/myStore"><img src="../image/images-6.jpeg" alt=""></a>
   </div>

   <div class="imag1">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/images-13.jpeg" alt=""></a>
   </div>
   <div class="imag2">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/images-16.jpeg" alt=""></a>
   </div>
   <div class="imag3">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/images-22.jpeg" alt=""></a>
   </div>
   <div class="imag4">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/JnkhibkDVfADZm3pPiCKOKDdXofGQ7KtTgzg-LjeXvNQOC8ex6NVdrlwBjqn_XwD1TzZfvo0pxLYsaXou-pnYKPddeO2-NAeEEVrVR8BmQ_wx5Dx5ZYiPGaNOJfTk60=w474-h310-nc.png" alt=""></a>
   </div>
   <div class="imag5">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/t-reparacion-pantalla-samsung-galaxy-s7-edge.jpg" alt=""></a>
   </div>

   <div class="imag6">
    <h3><a href="/myStore">Order Bonus</a></h3>
    <a href="/myStore"><img src="../image/label1.jpg" alt=""></a>
   </div>

   <div class="imag7">
    <h3><a href="/myStore">Order Bonus</a></h3>
    <a href="/myStore"><img src="../image/label2.jpg" alt=""></a>
   </div>

   <div class="imag8">
    <h3><a href="/myStore">Order Special</a></h3>
    <a href="/myStore"><img src="../image/images-2.jpeg" alt=""></a>
   </div>
</div>