<div id="serv">
<h2><a href="/myStore">Back to Stores</a></h2>
</div>
<div class="container">
  <div class="imag">
    <h3>contact Us</h3>
    <a href="/myStore"><img src="../image/20160621_114314.jpg" alt=""></a>
   </div>

   <div class="imag1">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/20160621_114336.jpg" alt=""></a>
   </div>
   <div class="imag2">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/androide.jpg" alt=""></a>
   </div>
   <div class="imag3">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/camera se.jpg" alt=""></a>
   </div>
   <div class="imag4">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/20160621_114142.jpg" alt=""></a>
   </div>
   <div class="imag5">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/20160621_114223.jpg" alt=""></a>
   </div>

   <div class="imag6">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/20160621_114251.jpg" alt=""></a>
   </div>

   <div class="imag7">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/20160621_114300.jpg" alt=""></a>
   </div>

   <div class="imag8">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/windowPhone.jpg" alt=""></a>
   </div>
</div>





