<div class="container">

<div class="img1">
<img src="../image/276430cc2e0bf6fb0f702784728f41c1.jpg" alt="Image description">

</div>

<div class="img3">
    <img src="../image/images.jpg" alt="Image description">
   
</div>
<!-- lightbox container hidden with CSS -->
<div class="img2">
    <img src="../image/images (1).jpg" alt="Image description">
   
</div>

<div class="img3">
    <img src="../image/images (2).jpg" alt="Image description">
   
</div>


<div class="img1">
    <img src="../image/_font_b_African_b_font_jungle.jpg_140x140.jpg" alt="Image description">
    
</div>

<!-- thumbnail image wrapped in a link -->
<div class="img2">
  <img src="../image/images (16).jpg" alt="Image description">
  
</div>
<div class="img3">
    <img src="../image/label1.jpg" alt="Image description">
    
</div>
<!-- lightbox container hidden with CSS -->
<div class="img1">
  <img src="../image/label3.jpg" alt="Image description">
 
</div>


<!-- thumbnail image wrapped in a link -->
<div class="img2">
  <img src="../image/label2.jpg" alt="Image description">
  
</div>
<div class="img3">
    <img src="../image/hyt.jpg" alt="Image description">
   
</div>
<!-- lightbox container hidden with CSS -->
<div class="img1">
  <img src="../image/mZnD4NPxJ_aSt9Co2rP7hbg.jpg" alt="Image description">
   
</div>

<div class="img2">
  <img src="../image/mh8xMJ7KU0xaXLdshPxl5bw.jpg" alt="Image description">
   
</div>

<div class="img3">
    <img src="../image/mlB0XAAh168BELP73x3NMrA.jpg" alt="Image description">
   
</div>

<div class="img1">
  <img src="../image/mZnD4NPxJ_aSt9Co2rP7hbg.jpg" alt="Image description">
   
</div>

<div class="img2">
  <img src="../image/12278166_924691397622713_585910805_n.jpg" alt="Image description">
   
</div>

</div>