<div id="contact"
<h3>EMAIL info@growingtogether.com

<p>WHOLESALE Get in touch with your wholesale requests and we’ll work something out!</p>
</div>

<div id="activeTab">
		<!-- The name of the current tab is inserted here -->
		<li><a href="/about">About Us</a></li>
		<li><a href="https://www.facebook.com/">Facebook</a></li> 
</div>