<div id="serv">
<h2><a href="/myStore">Back to Stores</a></h2>
</div>
<div class="container">
  <div class="imag">
    <h3>contact Us</h3>
    <img src="../image/800px-Three_Surveillance_cameras.jpg" alt="">
   </div>

   <div class="imag1">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/20160530_114350.jpg" alt=""></a>
   </div>
   <div class="imag2">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/cam.jpg" alt=""></a>
   </div>
   <div class="imag3">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/Lieblingssongs-f-r-den-Sommer-im-Auto-vy8r.jpg" alt=""></a>
   </div>
   <div class="imag4">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/soundCar.jpg" alt=""></a>
   </div>
   <div class="imag5">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/sound systems.jpg" alt=""></a>
   </div>

   <div class="imag6">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/Lieblingssongs-f-r-den-Sommer-im-Auto-vy8r.jpg" alt=""></a>
   </div>

   <div class="imag7">
    <h3><a href="/myStore">Order Bonus</a></h3>
    <a href="/myStore"><img src="../image/camerasecu.jpg" alt=""></a>
   </div>

   <div class="imag8">
    <h3><a href="/myStore">Special Order</a></h3>
    <a href="/myStore"><img src="../image/20160530_114342.jpg" alt=""></a>
   </div>
</div>