<div class="container"
<section id="intro">  
</section>
<div id="mainContent">
    <figure class="slider">
        <figure>
            <img src="../image/mlB0XAAh168BELP73x3NMrA.jpg" alt>
            <figcaption>sheet, African Design</figcaption>
        </figure>
        <figure>
            <img src="../image/label2.jpg" alt>
            <figcaption>Label Collection, South Africa</figcaption>
        </figure>
        
        <figure>
            <img src="../image/mh8xMJ7KU0xaXLdshPxl5bw.jpg" alt>
            <figcaption>home made, African Design</figcaption>
        </figure>
        
        <figure>
            <img src="../image/12282767_924703987621454_551485807_n.jpg" alt>
            <figcaption>Formal Dress, African Design</figcaption>
        </figure>
        <figure>
            <img src="../image/12270465_924699560955230_1785661772_n.jpg" alt>
            <figcaption>West Cameroon outfit, African Design</figcaption>
        </figure>
    </figure><br><br>
    <p>If you long for African design fashion, you're on the rigth place to view our offer and visite our store.
        All our products from quality drink to latest gaget technolgy.</p>
</div>

<div id="form-container">
<form class="form-content" action="#" method="post">
    <h2>Make Enquiry</h2>
        <label for="email">E-mail</label>
        <input name="email" id="email" type="email" required />
        <label for="website">Subject</label>
        <input name="subject" id="subject" type="text" />
        <label for="message">Message</label>
        <textarea name="message" id="message" required></textarea>
        <input type="submit" value="Post Enquiry" />
</form>
</div>
<div>
<aside class="sidebar">
 <h2>Our Offer</h2>
 <ul>
    <li><a href="/myStore">Catalogue</a></li>
    <li><a href="#">Achives</a></li>
</ul>
</aside>
</div>
</div>