
<div class="container">
<section id="intro">  
</section>

 <ul class="slideshow">
  <li><span>Image 01</span><div><h3>H-Tech All Your accessories</h3></div></li>
  <li><span>Image 02</span></li>
  <li><span>Image 03</span></li>
  <li><span>Image 04</span></li>
  <li><span>Image 05</span></li>
  <li><span>Image 06</span></li>
</ul><br><br><br>
  <div class="Hcontainer">
    <header>
      <h1>H-Tech <span>Visit US For Great Deal</span></h1>
    </header>
  </div>


<div id="mainContent">

    <figure class="slider">
        <figure>
            <img src="../image/capa-transparente-flexivel-galaxy-s5-mini-g800-g870-18137-MLB20150945451_082014-O.jpg" alt>
            <figcaption>Samsung, Great Silver</figcaption>
        </figure>
        <figure>
            <img src="../image/phpThumb (1).jpg" alt>
            <figcaption>Acer, Level of sexy SA</figcaption>
        </figure>
        
        <figure>
            <img src="../image/t-reparacion-pantalla-samsung-galaxy-s7-edge.jpg" alt>
            <figcaption>Samsung Your Favorite Design</figcaption>
        </figure>
        <figure>
            <img src="../image/img_1612.jpg" alt>
            <figcaption>Your comfort</figcaption>
        </figure>

        <figure>
            <img src="../image/phpThumb (2).jpg" alt>
            <figcaption>Dell Your comfort</figcaption>
        </figure>
    
    </figure><br><br>
    
</div>
