<!doctype html>
<html>
<head>
    <title>Mystore</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styleSheet.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body id="log">

<div class="container">
<!--hovering over the images will pause the slideshow -->
<div class="one">
    <div>
        <table class = "table">
            <tr>
                <td><a href="/">home</a></td>
            </tr>
            <tr>
                <td><a href="/register">Register</a></td>
            </tr>
            <tr>
                <td><a href="/about">About Us</a></td>
            </tr>
            <tr>
                <td><a href="/myStore">Stores</a></td>
            </tr>
            <tr>
                <td><a href="/services">Our services</a></td>
            </tr>
            <tr>
                <td><a href="/contact">Contact</a></td>
            </tr>
        </table>
    </div><br>

<div id="slideshow">
  <img class="is-active" src="../image/images-6.jpeg" alt="" />
  <img src="../image/acclaptop.jpg" alt="" />
  <img src="../image/oLH5RnTkSI3uLaqx6grea20C0yD53YV0ylbkXq67ol_sgqI50bWp1qdfzZ-jzU1qm2DQUc-t0HWeQnBOdrjHlET2uDvFMEWGYuPWQ1I-9sGQDs_gOSfoCUpt_FiWaLaKYtHSUfOpaVVT5J1M_olgW8MVs1u29AXhi7J3DInZUyc2UcxWS2vM5tcsqrhFgBTP01pLM4d0mpGUMQY=w384-h383-nc.png" alt="" />
  <img src="../image/AspireSwitch10_SW5-012_sku-preview.png" alt="" />
  <img src="../image/800px-Three_Surveillance_cameras.jpg" alt="" />
</div>
</div>   
      
</div>
<div class="col-sm-6 col-sm-offset-3">
<div class="nav navbar navbar-default navbar-fixed-top">
    <a href="/"><h1>Welcome To Stell Value For Cash Media</h1></a>
</div>


    <div class="form-container">
        <!-- form header -->
        <h1 class="form-header heading-color">Sign In</h1>
        <!-- end of form header -->
        <!-- form content -->
        <form class="form-content"  action="/login" method="POST">
            <fieldset>
                <input type="text" class="form-control" name="username" placeholder="Username" value="{{username}}" required="" autofocus=""/>
                <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}" required="">
                 {{#if message}}
                <p>{{message}}</p>
            {{/if}}
                <input type="submit" value="Submit" class="form-submit-control" />
            </fieldset>
        </form>
        <hr>

            <form class="form-signin" action="/register" method="GET">
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Register
                    </button>
                </form>
            </div>
            </div>
        </div>
<script src="/js/jquery.min.js"></script>
<script src="/js/login.js"></script>
</body>
</html>