<div class="container">

<div class="img1">
<img src="../image/12270499_924692750955911_313563651_n.jpg" alt="Image description">

</div>

<div class="img3">
    <img src="../image/12248798_924692914289228_577436005_n.jpg" alt="Image description">
   
</div>
<!-- lightbox container hidden with CSS -->
<div class="img2">
    <img src="../image/12248866_924692930955893_355113630_n.jpg" alt="Image description">
   
</div>

<div class="img3">
    <img src="../image/12270110_924692757622577_1667788702_n.jpg" alt="Image description">
   
</div>


<div class="img1">
    <img src="../image/12270338_924691390956047_1229038757_n.jpg" alt="Image description">
    
</div>

<!-- thumbnail image wrapped in a link -->
<div class="img2">
  <img src="../image/images (12).jpg" alt="Image description">
  
</div>
<div class="img3">
    <img src="../image/12285623_924692920955894_1551341779_n.jpg" alt="Image description">
    
</div>
<!-- lightbox container hidden with CSS -->
<div class="img1">
  <img src="../image/12270252_924691400956046_827627496_n.jpg" alt="Image description">
 
</div>


<!-- thumbnail image wrapped in a link -->
<div class="img2">
  <img src="../image/12272736_924692014289318_528267243_n.jpg" alt="Image description">
  
</div>
<div class="img3">
    <img src="../image/12270499_924692750955911_313563651_n.jpg" alt="Image description">
   
</div>
<!-- lightbox container hidden with CSS -->
<div class="img1">
  <img src="../image/12277078_924692917622561_418483671_n.jpg" alt="Image description">
   
</div>

<div class="img2">
  <img src="../image/12278081_924692020955984_192373006_n.jpg" alt="Image description">
   
</div>

<div class="img3">
    <img src="../image/12285788_924692760955910_219615096_n.jpg" alt="Image description">
   
</div>

<div class="img1">
  <img src="../image/12285590_924691710956015_1791912096_n.jpg" alt="Image description">
   
</div>

<div class="img2">
  <img src="../image/12278166_924691397622713_585910805_n.jpg" alt="Image description">
   
</div>

</div>