<div id="serv">
<h2><a href="/myStore">Back to Stores</a></h2>
</div>
<div class="container">
  <div class="imag">
    <h3><a href="/cellphonesView">View Cellphones</a></h3>
    <a href="/cellphonesView"><img src="../image/images-4.jpeg" alt=""></a>
   </div>

   <div class="imag1">
    <h3><a href="/laptops">View Laptops</a></h3>
    <a href="/laptops"><img src="../image/acclaptop.jpg" alt=""></a>
   </div>
   <div class="imag2">
    <h3><a href="/surveillance">View Gadgets</a></h3>
    <a href="/surveillance"><img src="../image/800px-Three_Surveillance_cameras.jpg" alt=""></a>
   </div>
   <div class="imag3">
    <h3><a href="/cellphonesAcess">View Accessories</a></h3>
    <a href="/cellphonesAccess"><img src="../image/20160621_114314.jpg" alt=""></a>
   </div>
   <div class="imag4">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/soundCar.jpg" alt=""></a>
   </div>
   <div class="imag5">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/sound systems.jpg" alt=""></a>
   </div>

   <div class="imag6">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/Lieblingssongs-f-r-den-Sommer-im-Auto-vy8r.jpg" alt=""></a>
   </div>

   <div class="imag7">
    <h3><a href="/myStore">Order Bonus</a></h3>
    <a href="/myStore"><img src="../image/camerasecu.jpg" alt=""></a>
   </div>

   <div class="imag8">
    <h3><a href="/myStore">Special Order</a></h3>
    <a href="/myStore"><img src="../image/20160530_114342.jpg" alt=""></a>
   </div>
</div>