<div id="serv">
<h2><a href="/myStore">Back to Stores</a></h2>
</div>
<div class="container">
  <div class="imag">
    <h3><a href="/cellphonesView">View Cellphones</a></h3>
    <a href="/cellphonesView"><img src="../image/images-4.jpeg" alt=""></a>
   </div>

   <div class="imag1">
    <h3><a href="/laptops">View Laptops</a></h3>
    <a href="/laptops"><img src="../image/acclaptop.jpg" alt=""></a>
   </div>
   <div class="imag2">
    <h3><a href="/surveillance">View Gadgets</a></h3>
    <a href="/surveillance"><img src="../image/800px-Three_Surveillance_cameras.jpg" alt=""></a>
   </div>
   <div class="imag3">
    <h3><a href="/cellphonesAcess">View Accessories</a></h3>
    <a href="/cellphonesAccess"><img src="../image/20160621_114314.jpg" alt=""></a>
   </div>
   <div class="imag4">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/soundCar.jpg" alt=""></a>
   </div>
   <div class="imag5">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/sound systems.jpg" alt=""></a>
   </div>

   <div class="imag6">
    <h3><a href="/myStore">Order</a></h3>
    <a href="/myStore"><img src="../image/Lieblingssongs-f-r-den-Sommer-im-Auto-vy8r.jpg" alt=""></a>
   </div>

   <div class="imag7">
    <h3><a href="/myStore">Order Bonus</a></h3>
    <a href="/myStore"><img src="../image/camerasecu.jpg" alt=""></a>
   </div>

   <div class="imag8">
    <h3><a href="/myStore">Special Order</a></h3>
    <a href="/myStore"><img src="../image/20160530_114342.jpg" alt=""></a>
   </div>
</div>
<!--html>
<body>
<div class="button-group filter-button-group" >
  <button data-filter="*" >show all</button>
  <button data-filter=".cellphonesView" >Cellphones</button>
  <button data-filter=".viewlaptops" >Laptops</button>
  <button data-filter=".surveillance" >Surveillance Cam</button>
  <button data-filter=":not(.transition)">not transition</button>
  <button data-filter=".metal:not(.transition)">metal but not transition</button>
</div>

<div class="grid container">
  <div class="element-item cellphonesView imag"><img src="../image/images-4.jpeg" alt=""></div>
  <div class="element-item cellphonesView imag1"><img src="../image/capa-transparente-flexivel-galaxy-s5-mini-g800-g870-18137-MLB20150945451_082014-O.jpg" alt=""></div>
  <div class="element-item cellphonesView imag2"><img src="../image/celular-hisense-hs-u988-751911-MLM20654076612_042016-O.jpg" alt=""></div>
  <div class="element-item cellphonesView imag3"><img src="../image/images-5.jpeg" alt=""></div>
  <div class="element-item cellphonesView imag4"><img src="../image/images-6.jpeg" alt=""></div>
  <div class="element-item cellphonesView imag5"><img src="../image/images-7.jpeg" alt=""></div>
  <div class="element-item cellphonesView imag6"><img src="../image/images-9.jpeg" alt=""></div>
  <div class="element-item cellphonesView imag7"><img src="../image/images-13.jpeg" alt=""></div>
  <div class="element-item cellphonesView imag8"><img src="../image/images-16.jpeg" alt=""></div>
  <div class="element-item viewcellphonesAcess imag4"><img src="../image/20160621_114223.jpg" alt=""></div>
  <div class="element-item cellphonesView imag"><img src="../image/images-20.jpeg" alt=""></div>
  <div class="element-item cellphonesView imag1"><img src="../image/images-22.jpeg" alt=""></div>
  <div class="element-item cellphonesView imag2"><img src="../image/JnkhibkDVfADZm3pPiCKOKDdXofGQ7KtTgzg-LjeXvNQOC8ex6NVdrlwBjqn_XwD1TzZfvo0pxLYsaXou-pnYKPddeO2-NAeEEVrVR8BmQ_wx5Dx5ZYiPGaNOJfTk60=w474-h310-nc.png" alt=""></div>
  <div class="element-item cellphonesView imag3"><img src="../image/oLH5RnTkSI3uLaqx6grea20C0yD53YV0ylbkXq67ol_sgqI50bWp1qdfzZ-jzU1qm2DQUc-t0HWeQnBOdrjHlET2uDvFMEWGYuPWQ1I-9sGQDs_gOSfoCUpt_FiWaLaKYtHSUfOpaVVT5J1M_olgW8MVs1u29AXhi7J3DInZUyc2UcxWS2vM5tcsqrhFgBTP01pLM4d0mpGUMQY=w384-h383-nc.png" alt=""></div>
  <div class="element-item cellphonesView imag4"><img src="../image/t-reparacion-pantalla-samsung-galaxy-s7-edge.jpg" alt=""></div>
  
  <div class="element-item viewlaptops imag1"><img src="../image/acclaptop.jpg" alt=""></div>
  <div class="element-item surveillance imag2"><img src="../image/800px-Three_Surveillance_cameras.jpg" alt=""></div>
  <div class="element-item transition metal">...</div>
  <div class="element-item viewcellphonesAcess imag3"><img src="../image/20160621_114314.jpg" alt=""></div>
  <div class="element-item halogen nonmetal">...</div>
  <div class="element-item alkaline-earth metal">...</div>
  ...
</div>
<script src="/js/filter.js"></script>
<script src="/js/isotope.js"></script>
</body>
</html-->

