<html id="st">
<body id="str">

<div>
<aside class="sidebar">
 <h2>Our Offer</h2>
 <ul id="proCat">
    <li><a href="/myStore">Catalogue</a></li>
    <li><a href="#">Promtions</a></li>
</ul>
</aside>
</div>



<div class="Fcontainer">
   <div id="content-slider">
      <div id="slider">  <!-- Slider container -->
         <div id="mask">  <!-- Mask -->

         <ul>
         <li id="first" class="firstanimation">  <!-- ID for tooltip and class for animation -->
         <a href="/womenOutfit"><img src="../image/20160621_114251.jpg"/></a>
          <h1><a href="/womenOutfit">CellPhone accessories, latest qualities</a></h1> 
         </li>

         <li id="second" class="secondanimation">
         <a href="/menOutfit"><img src="../image/t-reparacion-pantalla-samsung-galaxy-s7-edge.jpg" alt="African Design"/></a> 
         <h1><a href="/menOutfit">All Your Samsung, SmartPhone</a></h1>
         </li>

         <li id="third" class="thirdanimation">
         <a href="/collections"><img src="../image/As_R5-571T_preview.png"/> </a>
         <h1><a href="collections">All Your Laptop, From Brand Names</a></h1>
         </li>

         <li id="fourth" class="fourthanimation">
         <a href="/roomDecor"> <img src="../image/AspireSwitch10_SW5-012_sku-preview.png" alt="African Design"/></a>
         <h1><a href="/roomDecor">Laptop All Range</a></h1>
         </li>

         <li id="fifth" class="fifthanimation">
         <a href="/sheet"> <img src="../image/Lieblingssongs-f-r-den-Sommer-im-Auto-vy8r.jpg"/></a>
          <h1><a href="/sheet">Sound System</a></h1> 
         </li>

         <li id="sixth" class="sixthanimation">
         <a href="/casual"> <img src="../image/images-6.jpeg" alt="African Design"/></a>
         <h1><a href="/casual">Check it out</a></h1>
         </li>

         </ul>

         </div>  <!-- End Mask -->
         <div class="progress-bar"></div>  <!-- Progress Bar -->
      </div>  <!-- End Slider Container -->
   </div>
</div>

<div id="form-container">
<form class="form-content" action="#" method="post">
    <h2>Make Enquiry</h2>
        <label for="email">E-mail</label>
        <input name="email" id="email" type="email" required />
        <label for="website">Subject</label>
        <input name="subject" id="subject" type="text" />
        <label for="message">Message</label>
        <textarea name="message" id="message" required></textarea>
        <input type="submit" value="Post Enquiry" />
</form>
</div> 
</body>
</html>