
<head>
    <title>Page title</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/myStore.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">
   <div id="content-slider">
      <div id="slider">  <!-- Slider container -->
         <div id="mask">  <!-- Mask -->

         <ul>
         <li id="first" class="firstanimation">  <!-- ID for tooltip and class for animation -->
         <a href="#"> <img src="../image/label3.jpg" alt="Label"/> </a>
         <div class="tooltip"> <h1>Label</h1> </div>
         </li>

         <li id="second" class="secondanimation">
         <a href="#"> <img src="../image/label1.jpg" alt="Jonny Walker"/> </a>
         <div class="tooltip"> <h1>Jonny Walaker</h1> </div>
         </li>

         <li id="third" class="thirdanimation">
         <a href="#"> <img src="../image/label2.jpg" alt="collection"/> </a>
         <div class="tooltip"> <h1>Collection</h1> </div>
         </li>

         <li id="fourth" class="fourthanimation">
         <a href="#"> <img src="../image/mZnD4NPxJ_aSt9Co2rP7hbg.jpg" alt="Sheet"/> </a>
         <div class="tooltip"> <h1>Sheet</h1> </div>
         </li>

         <li id="fifth" class="fifthanimation">
         <a href="#"> <img src="../image/mlB0XAAh168BELP73x3NMrA.jpg" alt="Sheet Art"/> </a>
         <div class="tooltip"> <h1>Sheet Art</h1> </div>
         </li>
         </ul>

         </div>  <!-- End Mask -->
         <div class="progress-bar"></div>  <!-- Progress Bar -->
      </div>  <!-- End Slider Container -->
   </div>
</div>

</body>