
<head>
    <title>Page title</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/myStore.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">
   <div id="content-slider">
      <div id="slider">  <!-- Slider container -->
         <div id="mask">  <!-- Mask -->

         <ul>
         <li id="first" class="firstanimation">  <!-- ID for tooltip and class for animation -->
         <a href="/womenOutfit"><img src="../image/12282767_924703987621454_551485807_n.jpg" alt="African Design"/></a>
          <h1><a href="/womenOutfit">Women Outfit, African Design</a></h1> 
         </li>

         <li id="second" class="secondanimation">
            <h1><a href="/menOutfit">Men outfit, African Design</a></h1>
         <a href="/menOutfit"><img src="../image/12285809_924699577621895_1943872285_n.jpg" alt="African Design"/></a> 
         </li>

         <li id="third" class="thirdanimation">
         <a href="/collections"><img src="../image/label2.jpg" alt="collection"/> </a>
         <h1><a href="collections">Collection</a></h1>
         </li>

         <li id="fourth" class="fourthanimation">
         <a href="/roomDecor"> <img src="../image/images.jpg" alt="African Design"/></a>
         <h1><a href="/roomDecor">Room Decoration, African Design</a></h1>
         </li>

         <li id="fifth" class="fifthanimation">
         <a href="/sheet"> <img src="../image/2423741-t-THUMBNAIL.jpg" alt="African Design"/></a>
          <h1><a href="/sheet">Sheet</a></h1> 
         </li>

         <li id="sixth" class="sixthanimation">
         <a href="/casual"> <img src="../image/12272596_924837914274728_215926741_n.jpg" alt="African Design"/></a>
         <h1><a href="/casual">casual wear</a></h1>
         </li>

         </ul>

         </div>  <!-- End Mask -->
         <div class="progress-bar"></div>  <!-- Progress Bar -->
      </div>  <!-- End Slider Container -->
   </div>
</div>
    
</body>