<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html id="st">
<body id="str">

<div>
<aside class="sidebar">
 <h2>Our Offer</h2>
 <ul id="proCat">
    <li><a href="/myCatalogue">Catalogue</a></li>
    <li><a href="/promotion">Promtions</a></li>
</ul>
</aside>
</div>



<div class="Fcontainer">
   <div id="content-slider">
      <div id="slider">  <!-- Slider container -->
         <div id="mask">  <!-- Mask -->

         <ul>
         <li id="first" class="firstanimation">  <!-- ID for tooltip and class for animation -->
         <a href="/cellAccessories"><img src="../image/20160621_114251.jpg"/></a>
          <h1><a href="/cellAccessories">CellPhone accessories, latest qualities</a></h1> 
         </li>

         <li id="second" class="secondanimation">
         <a href="/cellphones"><img src="../image/t-reparacion-pantalla-samsung-galaxy-s7-edge.jpg" alt="African Design"/></a> 
         <h1><a href="/cellphones">All Your Samsung, SmartPhone</a></h1>
         </li>

         <li id="third" class="thirdanimation">
         <a href="/acerLaptop"><img src="../image/As_R5-571T_preview.png"/> </a>
         <h1><a href="/acerLaptop">Acer Laptop, From Brand Names</a></h1>
         </li>

         <li id="fourth" class="fourthanimation">
         <a href="/allBrandLaptop"> <img src="../image/AspireSwitch10_SW5-012_sku-preview.png" alt="African Design"/></a>
         <h1><a href="/allBrandLaptop">All Brand Laptop</a></h1>
         </li>

         <li id="sixth" class="sixthanimation">
         <a href="/allBrandCellphone"> <img src="../image/images-5.jpeg" alt="African Design"/></a>
         <h1><a href="/allBrandCellphone">Check it out</a></h1>
         </li>

         <li id="fifth" class="fifthanimation">
         <a href="/gadget"> <img src="../image/Lieblingssongs-f-r-den-Sommer-im-Auto-vy8r.jpg"/></a>
          <h1><a href="/gadget">All Your Gadget</a></h1> 
         </li>

         </ul>

         </div>  <!-- End Mask -->
         <div class="progress-bar"></div>  <!-- Progress Bar -->
      </div>  <!-- End Slider Container -->
   </div>
</div>

<div id="form-container">
<script>
$(document).ready(function(){
    var from,to,subject,text;
    $("#send_email").click(function(){      
        to=$("#to").val();
        subject=$("#subject").val();
        text=$("#content").val();
        $("#message").text("Sending E-mail...Please wait");
        $.get("http://localhost:3000/send",{to:to,subject:subject,text:text},function(data){
        if(data=="sent")
        {
            $("#message").empty().html("

Email is been sent at "+to+" . Please check inbox !

");
        }

});
    });
});
</script>

<script language="javascript">
$(document).ready(function() {
    $('#artical_message').val('Enter Your Message Here...')
        .focus(function(){
            if($(this.val() == 'Enter Your Message Here...'))
                $(this).val('');
        })
        .blur(function(){
            if($(this.val() == ''))
                $(this).val('Enter Your Message Here...');
        });
});
</script>
<form class="form-content">
    <h2>Order</h2>
        <label for="email">E-mail</label>
        <input name="email" id="email" type="email" required />
        <label for="website">Subject</label>
        <input name="subject" id="subject" type="text" />
        <label for="message">Message</label>
        <!--textarea name="textarea" id="content" type="text" cols="40" rows="5" placeholder="Write what you want to send" required /></textarea-->
<textarea name="message" cols="60"  rows="5" id="artical_message" onfocus="if (this.value == 'Enter Your Message Here...') this.value = '';" onblur="if(this.value == '')this.value ='Enter Your Message Here...';" placeholder="enter your order..." required /></textarea>

<p align="right"></p><br>
        <button id="send_email">Send your Order</button>
        
</form>
</div> 
</body>
</html>