<!doctype html>
<html>
<head>
    <title>Mystore</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styleSheet.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>

<div class="container">
<!--hovering over the images will pause the slideshow -->
<div class="one">
    <div>
        <table class = "table">
            <tr>
                <td><a href="/">home</a></td>
            </tr>
            <tr>
                <td><a href="/login">Member Area</a></td>
            </tr>
            <tr>
                <td><a href="/about">About Us</a></td>
            </tr>
            <tr>
                <td><a href="/myStore">Stores</a></td>
            </tr>
            <tr>
                <td><a href="/contact">Contact</a></td>
            </tr>
        </table>
    </div><br>
<section class="slideshow">
  <div class="slideshow-container slide">
    <img src="../image/images (1).jpg"/>
    <img src="../image/12270499_924692750955911_313563651_n.jpg"/>
    <img src="../image/images (8).jpg"/>
  </div>
</section>
        
</div>
<div class="col-sm-6 col-sm-offset-3">
<div class="nav navbar navbar-default navbar-fixed-top">
    <a href="/"><h1>Welcome To Tchebayou Store</h1></a>
</div>


    <!-- form container -->
    <div class="form-container">
        <!-- form header -->
        <h1 class="form-header heading-color">Sign Up</h1>
        <!-- end of form header -->
        <!-- form content -->
        <form class="form-content"  action="/register" method="POST">
            <fieldset>
                <input type="text" class="form-control" name="username" placeholder="Username" value="{{username}}" required="" autofocus=""/>
                <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}" required="">
                <input type="password" class="form-control" name="password_confirm" placeholder="Password_confirm" required="">
                <!--input type="email" class="form-control" name="email" placeholder="E-mail" value="{{email}}" required=""><br><br-->
                 {{#if message}}
                <p>{{message}}</p>
            {{/if}}
                <input type="submit" value="Submit" class="form-submit-control" />
            </fieldset>
        </form>
        <hr>
                <p>Or go  <form class="form-content" action="/logout" method="GET">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Log Out
                    </button>
                </form></p>
                <form class="form-content" action="/login" method="GET">
                    <button class="btn-lg btn-primary btn-block" type="submit">
                        Sign In
                    </button>
                </form>
        <!-- end of form-content -->
       
    </div>
    <!-- end of form container -->
</body>
</html>