<div>
<div id="serv">
<h1> Our Services </h1>
</div>
</div>
<div class="container">
	<div class="imag">
	  <h3> Sound System Installation</h3>
	  <img src="../image/sound syst.jpg" alt="">
	 </div>

	 <div class="imag1">
	  <h3> Unlock cellphones</h3>
	  <img src="../image/camera se.jpg" alt="">
	 </div>
	 <div class="imag2">
	  <h3> Android phones</h3>
	  <img src="../image/androide.jpg" alt="">
	 </div>
	 <div class="imag3">
	  <h3> Iphones</h3>
	  <img src="../image/apple.png" alt="">
	 </div>
	 <div class="imag4">
	  <h3> MicrosoftPhones</h3>
	  <img src="../image/windowPhone.jpg" alt="">
	 </div>
	 <div class="imag5">
	  <h3> Camera security system Installation</h3>
	  <img src="../image/camerasecurity.jpg" alt="">
	 </div>

	 <div class="imag6">
	  <h3> CellPhones Repair</h3>
	  <img src="../image/phone access.jpg" alt="">
	 </div>

	 <div class="imag7">
	  <h3> Repair Craked-laptop-Screen</h3>
	  <img src="../image/Repair-Cracked-Laptop-Screen-.png" alt="">
	 </div>

	 <div class="imag8">
	  <h3> Repair Craked-Cellphone-Screen</h3>
	  <img src="../image/brokenCellphone.jpg" alt="">
	 </div>
</div>

  

