<div class="container">

<div class="img1">
<img src="../image/12270499_924692750955911_313563651_n.jpg" alt="Image description">

</div>

<div class="img3">
    <img src="../image/12248798_924692914289228_577436005_n.jpg" alt="Image description">
   
</div>
<!-- lightbox container hidden with CSS -->
<div class="img2">
    <img src="../image/12248866_924692930955893_355113630_n.jpg" alt="Image description">
   
</div>

<div class="img3">
    <img src="../image/12270110_924692757622577_1667788702_n.jpg" alt="Image description">
   
</div>


<div class="img1">
    <img src="../image/12270338_924691390956047_1229038757_n.jpg" alt="Image description">
    
</div>

<!-- thumbnail image wrapped in a link -->
<div class="img2">
  <img src="../image/images (12).jpg" alt="Image description">
  
</div>
<div class="img3">
    <img src="../image/2423741-t-THUMBNAIL.jpg" alt="Image description">
    
</div>
<!-- lightbox container hidden with CSS -->
<div class="img1">
  <img src="../image/images (1).jpg" alt="Image description">
 
</div>


<!-- thumbnail image wrapped in a link -->
<div class="img2">
  <img src="../image/autogen_small_48229347_bedding.jpg" alt="Image description">
  
</div>
<div class="img3">
    <img src="../image/hyt.jpg" alt="Image description">
   
</div>
<!-- lightbox container hidden with CSS -->
<div class="img1">
  <img src="../image/autogen_small_35730377_bedding.jpg" alt="Image description">
   
</div>

<div class="img2">
  <img src="../image/mh8xMJ7KU0xaXLdshPxl5bw.jpg" alt="Image description">
   
</div>

<div class="img3">
    <img src="../image/mlB0XAAh168BELP73x3NMrA.jpg" alt="Image description">
   
</div>

<div class="img1">
  <img src="../image/mZnD4NPxJ_aSt9Co2rP7hbg.jpg" alt="Image description">
   
</div>

<div class="img2">
  <img src="../image/12278166_924691397622713_585910805_n.jpg" alt="Image description">
   
</div>

</div>