<div id="feedWidget">

	<div id="activeTab">
		<!-- The name of the current tab is inserted here -->
		<li><a href="/about">About</a></li>
		<li><a href="https://www.facebook.com/">Facebook</a></li>
        
	</div>

	<div class="line"> Je suis fier de comprendre ce que je developpe....La connaissance est un temps pris pour apprendre et comprendre</div>

	<div id="tabContent">
		<!-- The feed items are inserted here -->
		<li><a href="http://www.smashingmagazine.com/2012/04/pure-css3-cycling-slideshow/#1">Tut</a></li>
		<li><a href="/http://tutorialzine.com/2010/02/feed-widget-jquery-css-yql/">Feed</a></li>
        <li><a href="/myStore">Stores</a></li>
        <li><a href="https://www.facebook.com/">Facebook</a></li>
	</div>

</div>