<div class="container">

<div class="img1">
<img src="../image/12272667_924703834288136_859123892_n.jpg" alt="Image description">

</div>

<div class="img3">
    <img src="../image/images (9).jpg" alt="Image description">
   
</div>
<!-- lightbox container hidden with CSS -->
<div class="img2">
    <img src="../image/12282767_924703987621454_551485807_n.jpg" alt="Image description">
   
</div>

<div class="img3">
    <img src="../image/images (6).jpg" alt="Image description">
   
</div>


<div class="img1">
    <img src="../image/images (10).jpg" alt="Image description">
    
</div>

<!-- thumbnail image wrapped in a link -->
<div class="img2">
  <img src="../image/images (11).jpg" alt="Image description">
  
</div>
<div class="img3">
    <img src="../image/images (17).jpg" alt="Image description">
    
</div>
<!-- lightbox container hidden with CSS -->
<div class="img1">
  <img src="../image/images (4).jpg" alt="Image description">
 
</div>


<!-- thumbnail image wrapped in a link -->
<div class="img2">
  <img src="../image/images (15).jpg" alt="Image description">
  
</div>
<div class="img3">
    <img src="../image/images (19).jpg" alt="Image description">
   
</div>
<!-- lightbox container hidden with CSS -->
<div class="img1">
  <img src="../image/images (5).jpg" alt="Image description">
   
</div>

<div class="img2">
  <img src="../image/images (3).jpg" alt="Image description">
   
</div>

<div class="img3">
    <img src="../image/images (7).jpg" alt="Image description">
   
</div>

<div class="img1">
  <img src="../image/images (21).jpg" alt="Image description">
   
</div>

<div class="img2">
  <img src="../image/images (8).jpg" alt="Image description">
   
</div>

</div>





