
/* Makeshift CSS Reset */
{
    margin: 0;
    padding: 0;
}
/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
    display: block;
}

 
body {
    margin: -70px;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 120px;
    padding-bottom: 40px;
    width: 940px;
    font: 13px/22px Helvetica, Arial, sans-serif;
    background: #f0f0f0;

}
/*body .table{
  width: 800px; 
  height: 800px; 
}*/



.btn {
  outline: 0;
  border: none;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  box-shadow: inset 2px -3px rgba(0, 0, 0, 0.15); }

.btn:focus {
  outline: 0;
  -webkit-outline: 0;
  -moz-outline: 0; }

.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("/images/color-splash.jpg");
  background-repeat: repeat; }

.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 10px; }
  .form-signin form-signin-heading {
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
  .form-signin form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .form-signin form-control:focus {
      z-index: 2; }
  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000; }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.08); }

/* Makeshift CSS Reset */
header h1 {
  text-align: center;
  font: 4em Courier, "Comic Sans MS", Georgia, sans-serif;
  font-weight: bolder;
  border-bottom: 5px; }
 
/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
    display: block;

}

/*body {
    margin-left:auto;
    margin-right:auto;
    width: 940px;
    font: 13px/22px Helvetica, Arial, sans-serif;
    background: #f0f0f0;
    background-color:#32c8fa;
}*/
 
h2 {
    font-size: 28px;
    line-height: 44px;
    padding: 22px 0;

}
 
h3 {
    font-size: 18px;
    line-height: 15px;
    padding: 11px 0;
}
 
p {
    padding-bottom: 32px;
    color:#467612;
    font-size: 20px;
}

nav ul li {
    float: left;
}
 
nav ul li a {
    display: block;
    margin-right: 20px;
    width: 140px;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: #777;
    float: left;
}

nav {
    position: absolute;
    left: 0;
    width: 3500px;
    background: url("../image/15.jpg");
    margin-left: -50px;
}

nav ul {
    margin: 0 auto;
    width: 1300px;
    list-style: none;
    margin-left: 100px;
}

/*nav ul li {
    float: left;
}*/
 
nav ul li a {
    display: block;
    margin-right: 20px;
    width: 140px;
    font-size: 20px;
    line-height: 44px;
    text-align: left;
    text-decoration: none;
    color: #777;

}
 
nav ul li a:hover {
    color: #fff;
}
 
nav ul li.selected a {
    color: #fff;
}

#intro {
    margin-top: 66px;
    padding: 44px;
    /*background: url("../image/mh8xMJ7KU0xaXLdshPxl5bw.jpg") repeat-x;*/

    /* Background-size not implemented yet */
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    -khtml-background-size: 100%;
 
    /* Border-radius not implemented yet  #fff   #d9f499*/
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
}

#intro h2, #intro p¬†{
    width: 336px;
}
 
#intro h2 {
    padding: 0 0 22px 0;
    font-weight: normal;
    color: #FF0000;
    
}
 
#intro p {
    padding: 0;
    color: #467612;
    font-size: 20px;
}



#content {
    display: table;
}
 
#mainContent {
      display: table-cell;
      width: 620px;
      padding-right: 22px;
    }   
 
    aside {
        display: table-cell;
        width: 300px;
        font-size: 15px;
    }

.blogPost {
    column-count: 2;
    column-gap: 22px;
}
 
    .blogPost header {
        column-span: all;
    }

.blogPost div {
    /* Column-count not implemented yet */
    -moz-column-count: 2;
    -webkit-column-count: 2;
 
    /* Column-gap not implemented yet */
    -moz-column-gap: 22px;
    -webkit-column-gap: 22px;
}

.blogPost img {
    margin: 22px 0;
    -webkit-box-shadow: 3px 3px 7px #777;
}


a{
  display:block;
  position:relative;
  -webkit-backface-visibility: hidden;
  transition: all 300ms ease;
}
a:hover{
  transform:scale(1.06) rotatex(20deg);
  box-shadow: 0px 18px 25px -2px rgba(0,0,0,0.2); 
}
a:hover .icon-bottom, a:hover .wave:nth-child(odd){
  background:#ffac3d;
}
a:hover .icon-corner{
  border-color: transparent transparent #ffac3d;
}


nav ul li.subscribe {
    margin:auto;
    padding: 8px;
    
    
}

#img{
    width: 100%;
    height: 50px;
    margin: auto;
    padding:15px;
    margin-top: 150px;
    min-height: 50px;
}

#about{
  float: left;
  width: 100%;
  height: 200px;
  margin-top: -300px;
  padding:15px; 
}

.cap{
  width: 410px;
  height: 30px;
  float: center;
}

.local {
    width: 410px;
    height: 30px;
    float: left;
    padding: 0px;
    margin-left: -230px;
    
}
.vue img{
  float: left;
  padding: 50px;
  width: 410px;
  margin-top: 60px;
  margin-left: -300px;
  height: 400px; 
}

.forth img{
  float: right;
  padding: 50px;
  width: 410px;
  margin-top: 60px;
  margin-right: -350px;
  height: 400px; 
}
.ret img{
  width: 350px;
  padding-top: 0px;
  margin-left: -10px;
  height: 300px;
}

.ow {
  width: 250px;
  margin-left: -400px;
  height: 150px;
}

.shipping {
  float: center;
  padding: 1px;
  width: 360px;
  margin-left: 270px;
  height: 50px;
  
  
}

.return {
  width: 360px;
  padding: 0px;
  margin-left: 150px;
  height: 450px;
  margin-right: -300px;
}

#contact{
    width: 100%;
    height: 250px;
    margin: auto;
    margin-top: 120px;
}

#feedWidget{
    background:url() ;
    border:2px solid #48535e;
    margin:0 auto;
    width: 950px;
    height: 550px;
    margin-top: 120px;
    padding:5px;
    position:relative;

    /* Remains hidden if JS is not enabled: */
    display:none;
    z-index:20;
}

#activeTab.hover,.dropDownList{
    background:url(../image/autogen_small_35730377_bedding.jpg) no-repeat 95% 50% #47525c;
    border:1px solid #38434d;

    margin:-1px;

    cursor:pointer;

    /* CSS3 round corners: */
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

}

#activeTab,.dropDownList div{
    color:white;
    cursor:pointer;
    font-size:20px;
    margin:0 2px 0 0;
    padding:5px;

    text-shadow:0 1px 1px black;
}

.line{
    height:1px;
    overflow:hidden;
    background-color:#2b353d;
    border-bottom:1px solid #687581;
    margin:10px 0;
}

.dropDownList{
    background-image:none;
    position:absolute;

    border-top:none;
    padding:5px;

    /* We reset the roundness of the top corners, inherited by a previous rule: */

    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropDownList div:hover{
    background-color:#505e6b;
}

#tabContent div{
    /* The feed entry divs */

    background-color:#EEEEEE;
    color:#555555;
    font-size:10px;
    margin-bottom:10px;
    padding:5px;
    position:relative;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    /* CSS3 box shadow: */
    -moz-box-shadow:0 1px 1px black;
    -webkit-box-shadow:0 1px 1px black;
    box-shadow:0 1px 1px black;
}


#container > div{
    width: 1500px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 450px;
    margin-left: -200px;
}
.container {
    width: 1500px;
    min-height: 100%;
    height: 100%;
    position: block;
    margin: 0 auto;

}

#body > div{
    height:300px;
    margin: 0 auto;
    padding-bottom: -20px;
    margin-bottom: 450px;
    margin-left: -200px;
}

#footer >div{
    position: absolute;
    bottom: 0;
    width: 500px;
    height: 20px;
    margin: 44;
    background:#6cf; 
}

.footer-right > div {
    float: right;
    margin: 15;
    padding: 0;
}

.footer-left > div {
    float: left;
    margin: 0;
    padding: 0;
}

.col-xs-2{
  font-size: 20px;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #850000;
  clear: none; }
  a:hover {
    text-decoration: none; }



body {
  background-color: #32c8fa;}


table {
  background-color: white; }

.row > button {
  margin: 0.5em 0em auto 0em;
  text-align: center;
  height: 4em; }

.row {
  margin: 0 auto; }

.col-md-2 > a {
  color: white;
  font-weight: bolder; }

/*general styles*/


body{padding: 3em;background-color:#32c8fc;margin-left: 250px;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}


/*slideshow styles*/

#slideshow {
  width: 350px;
  margin: 0 auto;
  overflow: hidden;
  border:  1px white;
}

.slideshow-container {
  width: 1500px;
  font-size: 0;
  transition: 1s ease;
  height: 425px;
}

.slideshow-container:hover {
  animation-play-state: paused;
}

img {
  width: 525px;
  height: auto;
  padding-top: 15px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}


.slide {
  animation: slide 24s ease infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  
  12.5% {
    transform: translateX(0%);
  }
  
  25% {
    transform: translateX(-25%);
  }
  
  37.5% {
    transform: translateX(-25%);
  }
  
  50% {
    transform: translateX(-50%);
  }
  
  62.5% {
    transform: translateX(-50%);
  }
  
  75% {
    transform: translateX(-75%);
  }
  
  87.5% {
    transform: translateX(-75%);
  }
  
  99% {
    transform: translateX(-75%);
  }
  
  100% {
    transform: translateX(0);
  }
}

.form-content input {
        width: 100%;
        clear: both;
    }

label {
    display: inline-block;
    width:100px;
    text-align: right;
}


@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
figure { 
  margin: 0; 
  font-family: sans-serif;
  font-weight: 150;
}

div#captioned-gallery { 
  width: 510px;
  padding-top: 30px;
  height: 310px;
  margin-top: 69px;
  overflow: hidden;

  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;  
}
figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite; 
}
figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
figure.slider img { width: 50%; height: auto;}
figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 50%;
  font-size: 2rem; padding: .6rem; 
}

.inline-block {
  display: inline-block;
}

div.img1 {
    float: left;
    height: 350px;
    width: : 350px;
    padding: 30px;
    margin-top: 90px;
    margin-left:-300px;
  
}
.img1 div{
  max-width: 200px;
  max-height: 50px;
  margin-top: 10px;
}
.img1 img {
  max-width: 350px;
  max-height: 250px;
  margin-left: -200px;
  margin-top: 20px;
}
.img2 img {
  max-width: 350px;
  max-height: 250px;
  margin-left: 300px;
  margin-top: 20px;
}
.img3 img {
  max-width: 350px;
  max-height: 300px;
  margin-left: 50px;
  margin-top: 20px;
}
div.imag{
    margin-left:-300px;
    margin-top: 90px;
    padding: 30px;
    width: 250px;
    height: 100px;
}
.imag div{
  max-width: 200px;
  max-height: 50px;
  margin-top: 10px;
  background-image: url(../image/sound syst.jpg);
}
.imag img{
  max-width: 250px;
  max-height: 150px;
  background-image: url(../image/sound syst.jpg);
}

div.img2{
  padding: 30px;
  margin-left: -40px;
  width: 350px;
  height: 350px;
}

div.img3{
  float: right;
  padding: 30px;
  margin-right: 310px;
  width: 250px;
  height: 150px;
}

/*general styles*/
@-webkit-keyframes slideshow {
    20% { background: url(../image/phpThumb (1).jpg); }
    25%, 45% { background: url(../image/JnkhibkDVfADZm3pPiCKOKDdXofGQ7KtTgzg-LjeXvNQOC8ex6NVdrlwBjqn_XwD1TzZfvo0pxLYsaXou-pnYKPddeO2-NAeEEVrVR8BmQ_wx5Dx5ZYiPGaNOJfTk60=w474-h310-nc.png); }
    50%, 70% { background: url(../image/images-9.jpeg); }
    75%, 95% { background: url(../image/phpThumb.jpg); }
  }

  @-webkit-keyframes swing {
    0% { -webkit-transform: rotateX(-90deg); }
    30% { -webkit-transform: rotateX(50deg); }
    50% { -webkit-transform: rotateX(-40deg); }
    70% { -webkit-transform: rotateX(20deg); }
    90% { -webkit-transform: rotateX(-10deg); }
  }

  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-20px);
    }
  }

  @-webkit-keyframes wobble {
    15% { -webkit-transform: translateX(-10%) rotate(-5deg); }
    30% { -webkit-transform: translateX(5%) rotate(3deg); }
    45% { -webkit-transform: translateX(-5%) rotate(-3deg); }
    60% { -webkit-transform: translateX(3%) rotate(2deg); }
    75% { -webkit-transform: translateX(-2%) rotate(-1deg); }
  }

  .Acontainer {
    width: 500px;
    height: 300px;
    margin-left: -300px;
    margin: 100px auto;
    -webkit-perspective: 1100px;
    font-size: 62.5%;
  }

    .runner {
      width: 100%;
      height: 100%;
      -webkit-animation: slideshow 20s infinite 2s, swing 3s ease-in-out;
      -webkit-transform-origin-y:  0;
      background: url(../image/img_1612.jpg);
    }

      .runner div {
        background: rgba(250, 250, 250, 0.8);
        padding: 20px;
        color: #333;
        font: 1.3em/1.5em arial;
        width: 350px;
        margin: 20px;
        float: right;
        -webkit-animation: fadeInDown 1s 2.5s backwards;
      }

        .runner p:first-child {
          font-size: 2.2em;
          font-weight: bold;
          margin: 0;
          text-transform: uppercase;
        }

        .runner .cta {
          display: block;
          background: -webkit-linear-gradient(#024a9b, #003065) #024a9b;
          border-radius: 10px;
          padding: 15px 20px;
          width: 200px;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          font-weight: bold;
          text-align: center;
          font-size: 1.2em;
          margin-top: 20px;
          -webkit-animation: wobble .75s 3.5s;
        }

          .runner .cta:hover {
            opacity: .8;
          }




#mains #main body header h1{
   
   margin-top: 0px;
   position: relative;
   display: block;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}

#mains header {
   margin-top: 40px;
   text-align: center;
   font-size: 10px;
   line-height: 40px;
   position: relative;
   font-weight: 400;
   color: #fff;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
}






#wrap {
    height: 100%;
    background-repeat: repeat;
    background-position: left top;
}
#wp {
    background-image: url(http://css-tricks.com/examples/SplitBackgroundPattern/images/bg-1.jpg);
    width: 100%;
}
 #wrap {
    background-image: url(http://css-tricks.com/examples/SplitBackgroundPattern/images/bg-2.jpg);
    width: 50%;
}


 #str {
    background-color: #140F51;
    height: 3000px;
    margin: 0px;
    float: center;
    padding: 0px;
}

div.imag{
    margin-left:-300px;
    margin-top: 80px;
    padding: 30px;
    width: 250px;
    height: 100px;
}
.imag div{
  max-width: 200px;
  max-height: 50px;
  margin-top: 10px;
}
.imag img{
  max-width: 250px;
  max-height: 150px;
}

div.imag1{
    margin-left: -20px;
    margin-top: -100px;
    padding: 30px;
    width: 200px;
    height: 100px
}
.imag1 div{
  max-width: 150px;
  max-height: 50px;
  margin-top: 10px;
}
.imag1 img{
  max-width: 250px;
  max-height: 150px;
}

div.imag2{
    margin-left: 270px;
    margin-top: -100px;
    padding: 30px;
    width: 200px;
    height: 100px
}
.imag2 div{
  max-width: 150px;
  max-height: 50px;
  margin-top: 10px;
}
.imag2 img{
  max-width: 250px;
  max-height: 150px;
}

div.imag3{
    margin-left: 550px;
    margin-top: -100px;
    padding: 30px;
    width: 200px;
    height: 100px
}
.imag3 div{
  max-width: 150px;
  max-height: 50px;
  margin-top: 10px;
}
.imag3 img{
  max-width: 250px;
  max-height: 150px;
}

div.imag4{
    margin-left: 850px;
    margin-top: -100px;
    padding: 30px;
    width: 200px;
    height: 100px
}
.imag4 div{
  max-width: 150px;
  max-height: 50px;
  margin-top: 10px;
}
.imag4 img{
  max-width: 250px;
  max-height: 150px;
}

div.imag5{
    margin-left: -300px;
    margin-top: 120px;
    padding: 30px;
    width: 200px;
    height: 100px
}
.imag5 div{
  max-width: 150px;
  max-height: 50px;
  margin-top: 10px;
}
.imag5 img{
  max-width: 250px;
  max-height: 150px;
}

div.imag6{
    margin-left: 550px;
    margin-top: -100px;
    padding: 30px;
    width: 200px;
    height: 100px
}
.imag6 div{
  max-width: 150px;
  max-height: 50px;
  margin-top: 10px;
}
.imag6 img{
  max-width: 250px;
  max-height: 150px;
}

div.imag7{
    margin-left: -20px;
    margin-top: -100px;
    padding: 30px;
    width: 200px;
    height: 100px
}
.imag7 div{
  max-width: 150px;
  max-height: 50px;
  margin-top: 10px;
}
.imag7 img{
  max-width: 250px;
  max-height: 150px;
}

div.imag8{
    margin-left: 270px;
    margin-top: -100px;
    padding: 30px;
    width: 200px;
    height: 100px
}
.imag8 div{
  max-width: 150px;
  max-height: 50px;
  margin-top: 10px;
}
.imag8 img{
  max-width: 250px;
  max-height: 150px;
}

div#serv{
  margin-left: 200px;
  margin-top: 30px;
  padding: 30px;
  width: 500px;
  height: 50px;
}
#serv h1{
  font-size: 45px;
  font-weight: 300px;
  text-align: center;
  color: #FF0000;
}